# .gitignore file

# Sublime text files
*.sublime-workspace
*.sublime-project

# Latex files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.sta 

# MacOS files
._*
.DS_Store

# Jupyter
./ipynb_checkpoints/*
notebooks/*
__pycache__/*
code/.ipynb_checkpoints/*
code/__pycache__/*.pyc

# Private folder
./comments/*
./sts/*

# Data
*.pkl
*.pickle
